*{
    margin: 0;
    padding: 0;
}

.wrapper{
    width: 900px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}

li{
    list-style: none; /*去掉列表前的圆点*/
}

.footer {
    margin-top:20px;
    padding-bottom:50px;
    height:38px;
    line-height:38px;
    border-top:2px solid #CCCCCC;
    color:#737573;
    text-align:center;
}