.header{
    height: 30px;
    background: #ff6666;
}
.header .exit{
    float: right;
    font-size: 14px;
    color: #666666;
}
.header>span{
    margin: 0 20px;
    text-align: center;
    line-height: 30px;
}
.header .exit:hover{
    cursor: pointer;
}
.main{
    border: 1px solid #cccccc;
    overflow: hidden;
    padding: 30px 0;
}
.main .course{
    width: 400px;
    margin: 0 auto;
    text-align: center;
}
.main .course .tip,.main .course .grade{
    display: inline-block;
    width: 68px;
    height: 30px;
    vertical-align: -webkit-baseline-middle;
    text-align: justify;
}
.main .course .tip:after{
    content: " ";
    display: inline-block;
    width: 100%;
}


