#header{
    background: red;
    height: 32px;
    color: white;
    line-height: 32px; /*将文字行设为与容器同高来保持上下居中*/
    font-weight: 100; /*加粗*/
    font-size: 13px;
    border-bottom: 2px solid #f7f7f7;
}
#login-contain{
    float: left;
}

#login-contain a{
    color: white;
    padding:0 10px;
}

#head-menu{
    float: right;
}

#head-menu .menu{
    float: left;
    padding:0 14px;
    height: 32px;
    position: relative;
}

#head-menu .menu>a{
    color: white;
}

#header .iconfont{
    font-size: 12px;
    color: white;
}
#head-menu .menu-hd::after{
    content: '';
    border: 3px solid transparent;
    border-top-color: #bbb;
    position: absolute;
    right: 4px;
    top: 16px;
    transform-origin: 3px 1.5px;
    /*!*transition:transform .2s linear;*! 此句在这为鼠标移入移出都有变化*/
}
#head-menu .menu:hover::after{
    transform: rotate(180deg);
    transition:transform .2s linear;
}
#head-menu .menu-hd:hover{
    background: white;
}
#head-menu .menu-hd:hover>a{
    color: red;
    text-decoration: underline;
}
#head-menu .menu-hd:hover>a{
    color: red;
    text-decoration: underline;
}
#head-menu .menu-hd:hover .sub-menu{
    display: block;
}
#head-menu .menu-hd:hover .sub-menu2{
    display: block;
}
#head-menu .menu-hd:hover .sub-menu3{
    display: block;
}
#head-menu .menu-hd:hover .total{
    display: block;
}
#head-menu .menu-yel:hover a{
    color: yellow;
}
#head-menu .menu-yel:hover .iconfont{
    color: yellow;
}
#head-menu .menu-icored:hover .iconfont{
    color: red;
}
#head-menu .sub-menu{
    background: white;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 110px;
    border: 2px solid #f7f7f7;
    border-top: white;
    display: none;
}
#head-menu .sub-menu li{
    padding: 0 14px ;
}

#head-menu .menu-hd .sub-menu a{
    color: #969896;
}
#head-menu .menu-hd .sub-menu a:hover{
    color: red;
    text-decoration: underline;
}

#head-menu .sub-menu2{
    background: white;
    position: absolute;
    top: 32px;
    left: 0px;
    width: 100px;
    border: 2px solid #f7f7f7;
    border-top: white;
    display: none;
}
#head-menu .sub-menu2 li{
    padding: 0 14px ;
}

#head-menu .menu-hd .sub-menu2 a{
    color: #969896;
}
#head-menu .menu-hd .sub-menu2 a:hover{
    color: red;
    text-decoration: underline;
}

#head-menu .sub-menu3{
    background: white;
    position: absolute;
    top: 32px;
    right: 0px;
    width: 150px;
    border: 2px solid #f7f7f7;
    border-top: white;
    display: none;
    z-index: 1;
}
#head-menu .sub-menu3 a{
    padding: 0 10px ;
}

#head-menu .menu-hd .sub-menu3 a{
    color: #969896;
}
#head-menu .menu-hd .sub-menu3 a:hover{
    color: red;
    text-decoration: underline;
}
#head-menu .menu-hd .sub-menu3 p{
    padding: 0 10px;
    color: #969896;
    font-size: 14px;
    font-weight: 700;
}
#head-menu .total{
    background: white;
    position: absolute;
    top: 32px;
    right: 0px;
    width: 1060px;
    padding:10px 0;
    border: 2px solid #f7f7f7;
    border-top: white;
    display: none;
    z-index: 1;
}
#head-menu .total a{
    padding: 0 5px ;
    margin: 16px;
}

#head-menu .menu-hd .total a{
    color: #969896;
}

#head-menu .menu-hd .total p{
    padding: 0 21px;
    color: #969896;
    font-size: 14px;
    font-weight: 700;
}

#head-menu .menu-hd .total .three{
    float: left;
}
#head-menu .menu-hd .total .three1 p{
    color: coral;
}
#head-menu .menu-hd .total .three2 p{
    color: dodgerblue;
}
#head-menu .menu-hd .total .three2 li{
    border-left: 1px solid #ffecec;
    border-right: 1px solid #ffecec;
}
#head-menu .menu-hd .total .three1 a:hover{
    color: coral;
    text-decoration: underline;
}
#head-menu .menu-hd .total .three2 a:hover{
    color: dodgerblue;
    text-decoration: underline;
}
#head-menu .menu-hd .total .three3 a:hover{
    color: #969896;
    text-decoration: underline;
}

#head-menu .menu-hd .total .hot,.new{
     position: relative;
}

#head-menu .menu-hd .total .icon-zuirehotxiankuang{
    color: red;
    font-size: 14px;
    position: absolute;
    right: -16px;
}
#head-menu .menu-hd .total .icon-new3{
    color: blue;
    font-size: 14px;
    position: absolute;
    right: -16px;
}
/*#search{*/
    /*margin: 10px 0;*/
/*}*/
#search .wrapper img{
    width: 240px; /*img为行级元素，但可设置宽高，如果只设置宽，高会同比例缩放*/
    /*height: 130px;*/
    float:left;
    margin-left: -20px;
}
#search-contain{
    float:left;
    margin-top:40px;
    margin-left: 90px;
}
#search-contain .search-list  li{
    float:left;
    height: 18px;
    margin-top: 5px;
    padding:0 12px;
    border-left: 1px solid #969896;
}
#search-contain .search-list .li1{
    padding-left: 0;
    border-left: 0;
}

#search-contain .search-input{
    border:2px solid red;
    height: 36px;
}

#search-contain .search-input input{
    width: 490px;
    height: 36px;
    outline: none;
    border: 0;
    float: left;
    text-indent: 10px;
}
#search-contain .search-input input::placeholder{
    font-size: 14px;
}
#search-contain .search-input button{
    width: 132px;
    height: 36px;
    border: 0px;
    background: red;
    color: white;
    font-size: 16px;
    outline: none;
    float: left;
}
#search-contain .search-list .red a{
    font-size: 14px;
    display: block;
    color: red;
    height: 18px;

}
#search-contain .search-list .gray a{
    font-size: 14px;
    display: block;
    color: gray;
    height: 18px;
}
#tittle{
    clear: both;
    height: 35px;
}
#tittle a{
    display: block;
    height: 35px;
    float: left;
    padding: 0 8px;
    line-height: 36px;
    font-weight:500;
    font-size: 16px;
    color: black;
    position: relative;
    left:200px;
}
#tittle a:hover{
    color: red;
}
#tittle img{
    margin-top: 3px;
    width: 100px;
    height: 30px;
}
#picture .goodsclass{
    background: red;
    width: 200px;
    height: 36px;
    float: left;
    margin-top: -36px;
}
#picture .goodsclass i{
    font-size: 16px;
    margin-left: 14px;
    line-height: 36px;
    color: white;

}
#picture .bg1{
    position: relative;
}

#picture .goodsclass text{
    font-size: 16px;
    margin-left: 8px;
    line-height: 36px;
    color: white;
    font-weight: bold;
}
#picture .goods-list{
    float: left;
    /*opacity: 0.8;*/  /*背景透明度，控制当前及所有后代*/
    background-color: rgba(0,0,0,0.8);  /*背景颜色及透明度，控制当前页面*/
    width: 200px;
    height: 500px;
    position: absolute;
}
#picture .goods-list>ul>li{
    height: 31.2px;
    line-height: 31.2px;
    color: white;
}

#picture .goods-list>ul>li>a{
    color: white;
}
#picture .goods-list i{
    margin-left: 14px;
    margin-right: 4px;
    height: 31px;
    line-height: 31px;
    font-size: 16px;
    color: white;
}
#picture .ads{
    border-top:1px solid red;
    height: 500px;
    background: #d0bba0;
}
#picture .ads img{
    width: 1230px;
    height: 500px;
}
#picture .sub-goodslist{
    width: 870px;
    height: 500px;
    background:white;
    position:absolute ;
    left: 200px;
    top: 1px;
    display: none;
    color: black;
}
#picture .goods-list .red:hover{
    background: white;
    color: red;
}
#picture .goods-list .red:hover>a{
     color: red;
 }
#picture .goods-list .red:hover .iconfont{
    color: red;
}

#picture .goods-list .blue:hover {
    background: white;
    color: blue;
}
#picture .goods-list .blue:hover>a{
    color: blue;
}
#picture .goods-list .blue:hover .iconfont{
    color: blue;
}
#picture .goods-list .yellow:hover {
    background: white;
    color: yellow;
}
#picture .goods-list .yellow:hover>a{
    color: yellow;
}
#picture .goods-list .yellow:hover .iconfont{
    color: yellow;
}
#picture .goods-list .zi:hover {
     background: white;
     color: #795da3;
 }
#picture .goods-list .zi:hover>a{
    color: #795da3;
}
#picture .goods-list .zi:hover .iconfont{
    color: #795da3;
}
#picture .goods-list .li1:hover .sub-goodslist1{
     display: block;
 }
#picture .goods-list .li2:hover .sub-goodslist2{
    display: block;
}
#picture .goods-list .li3:hover .sub-goodslist3{
    display: block;
}
#picture .goods-list .li4:hover .sub-goodslist4{
    display: block;
}
#picture .goods-list .li5:hover .sub-goodslist5{
    display: block;
}
#picture .goods-list .li6:hover .sub-goodslist6{
    display: block;
}
#picture .goods-list .li7:hover .sub-goodslist7{
    display: block;
}
#picture .goods-list .li8:hover .sub-goodslist8{
    display: block;
}
#picture .goods-list .li9:hover .sub-goodslist9{
    display: block;
}
#picture .goods-list .li10:hover .sub-goodslist10{
    display: block;
}
#picture .goods-list .li11:hover .sub-goodslist11{
    display: block;
}
#picture .goods-list .li12:hover .sub-goodslist12{
    display: block;
}
#picture .goods-list .li13:hover .sub-goodslist13{
    display: block;
}
#picture .goods-list .li14:hover .sub-goodslist14{
    display: block;
}
#picture .goods-list .li15:hover .sub-goodslist15{
    display: block;
}
#picture .goods-list .li16:hover .sub-goodslist16{
    display: block;
}
#picture .sub-goodslist p{
    margin: 8px 20px;
    font-weight: 800;
}
#picture .sub-goodslist .sub-manylist a{
    margin: 0px 3px;
    font-size: 14px;
    color: #969896;
    font-weight: 500;
    float: left;
}
#picture .red .sub-goodslist .sub-manylist a:hover{
    color: red;
}
#picture .yellow .sub-goodslist .sub-manylist a:hover{
    color: yellow;
}
#picture .blue .sub-goodslist .sub-manylist a:hover{
    color: blue;
}
#picture .zi .sub-goodslist .sub-manylist a:hover{
    color: #795da3;
}
#picture .goods-list .sub-manyhead{
     float: right;
 }
#picture .goods-list .sub-manylist{
    float: right;
    width: 514px;
    border-bottom: 1px dashed black;
    margin-right: 10px;
    line-height: 24px;
    padding: 12px 8px;
}
#picture .goods-list .finally-manylist{
    border: 0px;
}
#picture .goods-list .sub-blank{
    float: right;
    width: 200px;
    height: 490px;
    border: 5px solid  #f5f5f5;
    background: white;
    line-height: normal;
}
#picture .goods-list .sub-manylist .redlist{
    color: red;
}
#picture .goods-list .sub-manylist .yellowlist{
    color: yellow;
}
#picture .goods-list .sub-manylist .bluelist{
    color: blue;
}
#picture .goods-list .sub-manylist .zilist{
    color: #795da3;
}
#picture .goods-list .sub-blank img{
    display:inline-block;
    width: 94px;
    border: 1px solid #f5f5f5;
    margin: 0px;
}

#three-ads{
    height: 394px;
    margin-top: 10px;
    padding-top: 24px;
    padding-right: 30px;
    overflow: hidden;
}
#three-ads .threeads{
    height: 371px;
    background: white;
    float: left;
    margin-left: 14px;
}
#three-ads .three-head{
    height: 54px;
    border-bottom: 1px solid white;
}
#three-ads .three-head span{
    line-height: 54px;
    font-weight: bold;
    font-size: 18px;
    margin-left: 10px;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
}
#three-ads .three-head .small-span{
    font-size: 14px;
}
#three-ads .three-head a{
    float: right;
    color: gray;
    font-size: 16px;
    margin-right: 10px;
    position: relative;
    top: 15px;
}
#three-ads .three-head .more{
    display: inline-block;
    width: 20px;
    height: 20px;
    color: #bd2c00;
    margin-left: 3px;
    position: relative;
    top: 4px;
}
#three-ads img{
    height: 316px;
}
#brand-list{
    overflow: hidden;
    clear: both;
}
#brand-list .wrapper .brand{
    width: 119.5px;
    height: 108px;
    margin-right: 1px;
    margin-bottom: 1px;
    float: left;
    position: relative;
    background: white;
    text-align: center;
}
#brand-list .wrapper .brand img{
    width: 82%;
    height: 50px;
    position: absolute;
    top: 29px;
    left: 11.5px;
}
#brand-list .wrapper .brand a{
    display: block;
    width: 119.5px;
    height: 108px;
    position: relative;
    z-index: 1;
    transition:all 0.3s linear ;
    display: none;
}
#brand-list .wrapper .brand .final-brand{
    display: block;
}
#brand-list .wrapper .brand:hover a{
    color: white;
    display: block;
}
#brand-list .wrapper .brand a:hover{
    background-color: rgba(0,0,0,0.7);
}
#brand-list .wrapper .brand a h6{
    margin-bottom: 10px;
    font-weight: 100;
}
#brand-list .wrapper .brand a span{
    background:red;
    padding: 0 5px;
    border-radius: 10px;
    margin-top: 10px;
}
#brand-list .wrapper .brand a div{
    transform: translate(0, 30px);
    transform-origin: center center;
}
#brand-list .wrapper .final-brand a{
    display: block;
}
#brand-list .wrapper .final-brand i{
    font-size: 34px;
    color:gray;
    transform-origin: center center;
    display: block;
}

#brand-list .wrapper .final-brand:hover a{
    background: red;
}
#brand-list .wrapper .final-brand:hover div{
    transform:translate(0, 30px) rotate(180deg);
    transition: transform .2s linear;
 }
#brand-list .wrapper .final-brand:hover i{
    color: white;
}
#sale .sale-list{
    margin-top: 20px;
    width: 1203px;
    overflow: hidden;
}
#sale .sale-list .sale-img{
    float: left;
}
#sale .sale-list .sale-img img{
    width: 214px;
    height: 25px;
    display: block;
    margin-bottom: 10px;
}
#sale .sale-list .sale-tittle{
    float: right;
    height: 25px;
    line-height: 25px;
    margin-bottom: 10px;
}
#sale .sale-list .sale-tittle a{
    margin: 5px 10px;
    font-size: 14px;
    color: black;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
}
#sale .sale-list .sale-tittle a:hover{
   border-bottom: 1px solid black;
}
#sale .sale-list .sale-goods{
    clear: both;
}
#sale .sale-list .sale-goods .left-sale img{
    width: 235px;
    margin-bottom: 9px
}
#sale .sale-list .sale-goods .left-sale a{
    display: block;
    position: relative;
}
#sale .sale-list .sale-goods .left-sale .black-bar{
    position: absolute;
    vertical-align: middle;
    top:70%;
    width: 218px;
    height: 64px;
    background: rgba(0,0,0,.5);
    z-index: 1;
}
#sale .sale-list .sale-goods .left-sale .black-bar .left-bar{
    width: 70px;
    height: 64px;
    background: rgba(0,0,0,.7);
}
#sale .sale-list .sale-goods .left-sale .black-bar .right-bar{
     width: 128px;
     height: 64px;
     padding: 8px 0 0 8px;
 }
#sale .sale-list .sale-goods .left-sale .black-bar div{
    float: left;
}
#sale .sale-list .sale-goods .left-sale .black-bar span{
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
    overflow: hidden;
    color: white;
    line-height: 24px;
    font-size: 18px;
    vertical-align: middle;
}
#sale .sale-list .sale-goods .left-sale .black-bar .left-bar span{
    display: block;
    width: 36px;
    margin: 0 auto;
    margin-top: 8px;
    text-align: center;
}
#sale .sale-list .sale-goods .left-sale .black-bar .right-bar span{
    display:block;
}

#sale .sale-list .sale-goods .left-sale{
    float: left;
    width: 235px;
    overflow: hidden;
}

#sale .sale-list .sale-goods .right-sale .sale-item{
    height: 300px;
    width: 230px;
    border: 1px solid  #fff;
    float: left;
    margin-left: 10px;
    margin-bottom: 15px;
    background: white;
}
#sale .sale-list .sale-goods .right-sale .sale-item:not(.first-saleitem1):hover{
    border: 1px solid  red;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1{
    width: 472px;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item{
    width: 450px;
    height: 280px;
    border: 3px solid #f5f5f5;
    margin: 0 auto;
    margin-top: 8px;
    position: relative;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item li{
    width: 225px;
    height: 50px;
    font-size: 18px;
    line-height: 50px;
    background: #f5f5f5;
    float: left;
    text-align: center;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53';
    color: black;
}
/*#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item li:hover{*/
    /*background: #00b262;*/
/*}*/
/*#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item li:hover .sub-hidden{*/
    /*display:  block;*/
/*}*/
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .sub-hidden{
    width: 450px;
    height: 230px;
    position: absolute;
    left: 0px;
    top: 50px;
    display: none;
}




#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .select{
    background: #00b262;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .select-show{
    display: block;
}






#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .sub-hidden img{
    position: absolute;
    right: 0px;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .sub-hidden div img{
    display: block;
    width: 23px;
    position: absolute;
    left: -160px;
    top: 8px;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .sub-hidden div{
    width: 220px;
    height: 90px;
    background:#f5f5f5;
    position: absolute;
    top:90px;
    z-index: 1;
    line-height: 90px;
    color: #00b262;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1 .sub-item .sub-hidden div:after{
    content: '';
    border: 45px solid transparent;
    border-left-color: #f5f5f5;
    position: absolute;
    z-index: 1;
    left: 220px;
}
#sale .sale-list .sale-goods .right-sale img{
    width: 185px;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}
#sale .sale-list .sale-goods .right-sale .item-name{
    width: 135px;
    height: 40px;
    font-size: 14px;
    color: #333333;
    line-height: 20px;
    overflow: hidden;
    margin: 8px auto;
    text-align: center;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem1{

}
#sale .sale-list .sale-goods .right-sale .first-saleitem2{

}
#sale .sale-list .sale-goods .right-sale .first-saleitem2 div{
    position: relative;
    left: 20px;
    top: 15px;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
}
#sale .sale-list .sale-goods .right-sale .first-saleitem2 div:first-of-type{
    font-size: 18px;
    color: #000;

}
#sale .sale-list .sale-goods .right-sale .first-saleitem2 div:last-of-type{
    font-size: 14px;
    color: #7A45E5;
}
#sale .sale-list .sale-goods .right-sale .item-price{
    text-align: center;
    font-family: "Microsoft YaHei", "SimSun", '\5b8b\4f53', sans-serif;
    color: red;
    font-size: 18px;
    line-height: 18px;
    margin: 10px auto;
}





